@import "bootstrap";
@import "bootstrap-responsive";

html {
  overflow-y: scroll;
}

body {
  background: url(image_path("squairy_light.png"));
  padding-top: 20px;
  padding-bottom: 40px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}


footer {
  margin-top: 20px;
  padding-top: 5px;
  border-top: 1px solid #fff;
}
