<!DOCTYPE html>
<html>
<head>
  <title>Multiple USCIS Status Checker</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <footer class="container">
    This website is NOT endorsed by <a href="http://www.uscis.gov/" target="_blank">USCIS</a> and it DOESN'T guarantee the information is valid and updated. Use at your own risk.
  </footer>
  <%= javascript_include_tag "application" %>
</body>
</html>
